@model IEnumerable<Leave.Models.LeaveRequest>

<h2>Leave Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Manager Approval</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.LeaveType</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Status</td>
                <td>@item.ManagerApproval</td>
            </tr>
        }
    </tbody>
</table>
